<!doctype>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>-Community-</title>
        <!-- Load Vue followed by Vue Router -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app">
          <header>
          </br>

            <nav class="navbar navbar-dark bg-dark" id="navbar">
              
              <router-link  id="router" class="text-white" to='/inscription'><button type="button" class="btn btn-outline-info btn-lg" >Inscription</button></router-link>
                         
              <router-link  id="router" class="text-white" to='/categories'><button type="button" class="btn btn-outline-light btn-xl">Trouver des associations</button></router-link>
              
              

           
  
                    
     
             

              <router-link  id="router" class="text-white" to='/connexion'><button type="button" class="btn btn-outline-warning btn-lg">Mon espace</button></router-link>
            
              
            </nav>
            <div id="annuler"> 

            
            <div class="btn-group-vertical " >
              <div class="input-group mb-3 ">
                
                  <select id="select" v-model="choixVille" class="custom-select btn-sm " id="inputGroupSelect03">
                    <option selected value="">Choisissez votre ville  </option>
                    <option v-for="i in villes">{{i}}</option>
                  </select>
                  <div class="input-group-append ">
                    <button   class="btn btn-outline-secondary " @click="AnnulVille()">Annuler</button>
                    
                  </div>
                </div>
                
                </div>
              </div>
          </header>
          <main>
            
            <router-view
            :choix-ville="choixVille"
            :categories="categories"
            :cat-id="catId"
            :cat-index="catIndex"
            :assos-id="assosId"
            :assos-index="assosIndex"
            :alertfollowing="alertfollowing"
            @go-to-assos = "goToAssos"
            @go-to-details = "goToDetails"
            @go-to-details2 = "goToDetails2"
            @follow-assos = "followAssos"
            

            :associations="associations"
              :follow="follow"
              :namee="namee"
              :img="img"
              :descriptionn= "descriptionn"
              :numberr="numberr"
              :categoriee="categoriee"
              :phonee="phonee"
              :taille="taille"
              :i="i"
              @add-follow="addFollow"
              @un-follow="unfollow"
              @inscription="inscription"
              @inscription2="inscription2"
              @backup="backup"
             
              :nomm="nomm"
              :prenomm="prenomm"
              :emaill="emaill"

              :error="error"
              
              @connexion-utilisateur="connexionUtilisateur"
              @connexion-gerant="connexionGerant"
            ></router-view>
          </main>
        </div>
        <script src="/vue-application.js"></script>
    </body>
</html>


<script>
  module = {
    props : {
      villes: {type: Array, default: []}
    },
    data(){
      return{
        choixVille: ''
      }
    }


  }
 
  
  </script>
<style>
  #router{

    text-decoration:none; 
  }

  #router:hover{
    opacity: 70% !important;
    
  }

  #navbar{
    padding-bottom: 58px;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  .btn-xl{
    padding: 10px 20px;
    font-size: 23px;
    border-radius: 5px;
    font-weight: lighter;
  }

  .btn-lg{
    font-weight: normal;
  }

  #annuler{
    position: absolute;
    top:15%;
    left: 549px;
  
  }

</style>
